<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hupays_nenich.com.sms114" >

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/sms114_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".AccueilActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mesInfos.MesInfosActivity"
            android:label="@string/title_activity_mes_infos"
            android:windowSoftInputMode="stateUnchanged">
        </activity>
        <activity
            android:name=".causes.CauseActivity"
            android:label="@string/title_activity_cause" >
        </activity>
        <activity
            android:name=".causes.DetailAccidentVoitureActivity"
            android:label="@string/title_activity_detail_accident_voiture" >
        </activity>
        <activity
            android:name=".causes.DetailIncendieActivity"
            android:label="@string/title_activity_detail_incendie" >
        </activity>
        <activity
            android:name=".causes.DetailAnimauxActivity"
            android:label="@string/title_activity_detail_animaux" >
        </activity>
        <activity
            android:name=".causes.DetailCatastropheActivity"
            android:label="@string/title_activity_detail_catastrophe" >
        </activity>
        <activity
            android:name=".causes.DetailAutreActivity"
            android:label="@string/title_activity_detail_autre"
            android:windowSoftInputMode="stateUnchanged">
        </activity>
        <activity
            android:name=".nombreVictime.NombreVictimeActivity"
            android:label="@string/title_activity_nombre_victime" >
        </activity>
        <activity
            android:name=".detailVictime.DetailVictimeActivity"
            android:label="@string/title_activity_detail_victime" >
        </activity>
        <activity
            android:name=".symptome.SymptomeActivity"
            android:label="@string/title_activity_symptome" >
        </activity>
        <activity
            android:name=".precisions.PrecisionActivity"
            android:label="@string/title_activity_precision"
            android:windowSoftInputMode="stateUnchanged">
        </activity>
        <activity
            android:name=".localisation.LocalisationActivity"
            android:label="@string/title_activity_localisation"
            android:windowSoftInputMode="stateUnchanged">
        </activity>
        <activity
            android:name=".message.MessageActivity"
            android:label="@string/title_activity_message"
            android:windowSoftInputMode="stateUnchanged">
        </activity>
        <activity
            android:name=".body.BodyActivity"
            android:label="@string/title_activity_body" >
        </activity>
    </application>

</manifest>
